[user]
	name = Caio Prado
	email = {{ .email }}
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	wd = diff --word-diff
	lg = prettylog
[pull]
	ff = only
[merge]
	tool = vim
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "vim"]
	cmd = vim -d $REMOTE $LOCAL
[init]
	defaultBranch = master
